* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3E7F1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
    position: fixed;
    z-index: 110;
    height: 80px;
    width: 100%;
    padding: 5px 10%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(178, 181, 185, 0.95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    color: white;
}

.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.title {
    font-size: 28px;
    font-weight: 800;
    color: #1B1B1C;
    padding: 0 10px;
}

header .nav-list {
    list-style: none;
}

header .nav-list li {
    display: inline-block;
    padding: 0 10px;
}

a.enlaces-estilos {
    color: black;
    text-decoration: none;
    border: 1px solid #4D4D99;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.enlaces-estilos:hover {
    background-color: black;
    color: white;
}

a.vicentemr {
    color: white;
    background-color: #1F3C88;
    text-decoration: none;
    border: 1px solid #4D4D99;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.vicentemr:hover {
    background-color: white;
    color: black;
}

input.search {
    border: 1px solid #2A2A2A;
    border-radius: 20px;
    padding: 10px 20px;
    width: 250px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

input.search:hover {
    transition: all 0.2s;
    border-color: #007bff;
}

input.search:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #f8f9fa;
}

.menu {
    display: none;
}

header .menu button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #E3E7F1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header .menu button:hover {
    background-color: #e2f1f8;
    color: black;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 30px;
    }
}


@media screen and (max-width: 800px) {

    .nav-list,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
        padding: 0 10px;
    }
}

.container-presentation {
    position: relative;
    top: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 5px silver;
    height: 100%;

}

.index-presentation p {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}


.image img {
    max-width: 100%;          
    height: auto;             
    cursor: pointer;          
    max-height: 100%;       
    object-fit: cover;
}  

.image {
    height: 300px;             
    width: 350px;              
    display: flex;
    justify-content: center;  
    align-items: center;     
}


.container-protein {
    background-color: white;  
    margin: 10px;             
    width: 500px;              
    height: 500px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    flex-wrap: wrap;          
    position: relative;       
    top: 150px;
    box-shadow: 0 0 5px silver;               
}

.information p{
    text-align:justify;
    font-size: 20px;
    color: green;
}

.information h1{
    font-size: 20px;
}


@media (max-width: 600px) {
    .container-protein {
        height: auto;
        width: 300px;                   
    }
    
    .image {
        height: 150px;       
    }
}
