* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3E7F1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
    position: fixed;
    z-index: 110;
    height: 80px;
    width: 100%;
    padding: 5px 10%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(178, 181, 185, 0.95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    color: white;
}

.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.title {
    font-size: 28px;
    font-weight: 800;
    color: #1B1B1C;
    padding: 0 10px;
}

header .nav-list {
    list-style: none;
}

header .nav-list li {
    display: inline-block;
    padding: 0 10px;
}

a.enlaces-estilos {
    color: black;
    text-decoration: none;
    border: 1px solid #4D4D99;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.enlaces-estilos:hover {
    background-color: black;
    color: white;
}

a.vicentemr {
    color: white;
    background-color: #1F3C88;
    text-decoration: none;
    border: 1px solid #4D4D99;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.vicentemr:hover {
    background-color: white;
    color: black;
}

input.search {
    border: 1px solid #2A2A2A;
    border-radius: 20px;
    padding: 10px 20px;
    width: 250px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

input.search:hover {
    transition: all 0.2s;
    border-color: #007bff;
}

input.search:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #f8f9fa;
}

.menu {
    display: none;
}

header .menu button {
    font-size: 17px;
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #E3E7F1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header .menu button:hover {
    background-color: #e2f1f8;
    color: black;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 30px;
    }
}


@media screen and (max-width: 800px) {

    .nav-list,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
        padding: 0 10px;
    }
}

.container-presentation {
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 5px silver;
    margin-top: 15%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-in-out forwards;

}

.index-presentation{
    margin: 20px;
}

.index-presentation p {
    text-align: center;
    font-size: 30px;
    z-index: 1;
}



.image {
    position: relative;
    width: 100%; 
    height: 300px; 
    overflow: hidden; 
}

.image img {
    width: 100%; 
    height: 100%; 
}

.image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 2;
    transition: 0.5s ease;
}

.image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 3;
    opacity: 0;
    transition: 0.5s ease;
}

.image:hover .image1 {
    opacity: 0;
}

.image:hover .image2 {
    opacity: 1;
}


.container-protein {
    margin: 10px;             
    display: flex;
    gap: 20px;
    justify-content: space-around;  
    align-items: center;      
    flex-wrap: wrap;          
    position: relative;       
    top: 100px;
    padding: 20px;              
}

.information p{
    text-align:center;
    font-size: 20px;
    color: #555555;
}

.information h1{
    text-align: center;
    font-size: 25px;
    color: #555555;
}

.index-protein{
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    max-width: 300px; 
    text-align: center; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.index-presentation p {
    font-size: 25px;          
    line-height: 1.6;         
    color: #555555;              
    margin-bottom: 20px;      
}


.index-presentation h2 {
    font-size: 25px;          
    margin-bottom: 15px;
    text-align: center;      
    color: #555555;
}


.index-presentation ul {
    padding-left: 20px;       
    list-style-type: disc;    
}

.index-presentation li {
    font-size: 16px;          
    line-height: 1.6;         
    margin-bottom: 10px;     
}


.index-presentation strong {
    color: #000;              
    font-weight: bold;        
}

@media (max-width: 800px) {
    .container-protein {
        height: auto;
        width: 300px;                   
    }

    .container-presentation{
        margin-top: 25%;
    }
    
    .image {
        height: 300px;       
    }

   
    .index-presentation p h2{
        font-size: 20px;

    }
}
